.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 150%;
}

.content {
  display: flex;
  width: 100%;
  height: calc(100vh - 2 * 100px); /* Adjusted to account for the banners */
  box-sizing: border-box;
}

.chart-container {
  flex: 1.5; /* 2/3 of the available space */
  padding: 20px;
  box-sizing: border-box;
}

.menu-container {
  flex: 1; /* 1/3 of the available space */
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid black;
}
