.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 150px;
}

.content {
  display: flex;
  width: 100%;
  height: calc(100vh - 200px); /* Adjusted to account for the banners */
  box-sizing: border-box;
  background-color: black;
}

.chart-container {
  flex: 10;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv-lightweight-charts {
  width: 100%;
  height: 100%;
}

.trading-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: black;
}

.bid-ask-cup-container {
  flex: 3;
  padding: 5px;
  box-sizing: border-box;
  border-left: 1px solid black;
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
  }

  .chart-container {
    flex-basis: 100%;
  }

  .trading-panel, .bid-ask-cup-container {
    flex-basis: 100%;
  }
}
