

.info-section {
  display: flex;
  margin-top: 0; /* Remove margin-top to move up */
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px; /* Reduce margin-bottom if necessary */
}

.info-text {
  font-size: 1.3rem;
  color: #333;
  padding: 5px; /* Reduce padding if needed */
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 45%;
  text-align: center;
}

.button-section {
  display: flex;
  justify-content: center;
  width: 70%;
}

.trade-button {
  font-size: 2.0rem;
  padding: 10px 30px; /* Adjust padding to fit the new size */
  margin: 0 5px; /* Adjust margin if needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buy-button {
  background-color: #4caf50;
  color: white;
}

.sell-button {
  background-color: #f44336;
  color: white;
}

.trade-button:hover {
  opacity: 0.8;
}

.user-info-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px; /* Reduce padding if needed */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
}
