.position {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid darkblue;
  margin-bottom: 10px;
  font-size: 12px;
  box-sizing: border-box;
  background-color: midnightblue;
  border-radius: 3px;
}

.position-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

.position-item {
  margin: 0 5px;
  flex-shrink: 0;
}

.position button {
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #ff5555;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  align-self: flex-start;
}

.position button:hover {
  background-color: #ff0000;
}

@media (max-width: 1024px) {
  .position {
    font-size: 10px;
  }

  .position button {
    font-size: 10px;
  }
}
